{% extends 'account/base.html' %}
{% block content %}
<section class="jumbotron text-center">
    <h1 class="jumbotron-heading">Be creative, do something front/back-end or both and nominate other programmers</h1>
    <p class="lead text-muted">Don't forget to add your name</p>
    <p class="lead text-muted">First check out the readme.txt</p>
</section>
<div class="container">
    <ol>
        <li><h5>Filip Dimitrivski</h5> - started the project, created AUTH functionallity, created account app and added basic Bootstrap.</li>
    </ol>
</div>

{% endblock %}